*{
    box-sizing: border-box;
}
header{
    background-color: #fffdfa;
    padding: 20px;
    text-align: center;
}
img{
    height: 100px;
}
nav{
    background-color: #fffdfa;
    box-shadow: 0px 10px 15px 5px #aaa;
}
.dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 0%;
    box-shadow: 1px 1px 2px #aaa;
    /* padding: 0; */
}
/* .dropdown-menu >.dropdown-item:active{
    color: white;
    background-color: #252020;
} */
.dropdown-menu .dropdown-item:hover{
    color: rgb(86, 187, 218);
    background-color: white;
}
main{
    height: 100%;
    background-color: #252020;
    color: white;
}
footer{
    background-color: #111010 ;
    padding: 20px;
    color: white;
}
.icon{
    color: white;
}
.icon:hover{
    color: rgb(86, 187, 218);
}

/* See more button */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.see-more {
    width: 12rem;
    height: auto;
   }
   
   button.see-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(86, 187, 218);
    border-radius: 1.625rem;
   }
   
   button.see-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.see-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.see-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.see-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(86, 187, 218);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
/* Input group in footer */
.input-group {
    display: flex;
    align-items: center;
  }
  
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid rgb(86, 187, 218);
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: rgb(86, 187, 218);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: rgb(55, 154, 184);
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }